@model Microsoft.CodeChallenges.CosmosDB.Lab.Models.HomeViewModel
@{
    ViewBag.Title = "Cosmos DB Lab";
}

<div class="jumbotron">
    <h1>Azure Cosmos DB</h1>
</div>

<div class="row">
    <div class="demo-main">
        <div class="container content-container ">
            <form action="/Insert" method="post">
                <div class="gap"></div>
                <div class="left-pane">
                    <span class="query-title">Data</span>
                </div>
                <div class="right-pane">
                </div>
                <div class="clearfix"></div>
                <div class="ace-container left-pane">
                    <textarea type="text" name="insertData" id="insertData" class="fullareatext">@ViewBag.InsertData</textarea>
                </div>
                <div class="results-container right-pane">
                    <textarea type="text" class="fullareatext" >@ViewBag.SavedDocument</textarea>
                </div>
                <div class="clearfix"></div>
                <div class="left-pane">
                    <input type="submit" class="btn btn-run" value="Insert it!" />
                </div>
                <div class="right-pane">
                    <div>
                        @Html.ValidationSummary(true)
                        <p>@ViewBag.Success</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>