<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ida:Audience" value="https://yoursiteinmicrosoftazure.azurewebsites.net/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CacheTimespan" value="1800" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
<!--
  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <issuerNameRegistry type="MyCompany.Visitors.Web.SingleTenantIssuerNameRegistry, MyCompany.Visitors.Web" />
      <audienceUris>
        <add value="https://mycompanyvisitorsweb20170302015428.azurewebsites.net/" xdt:Transform="Replace"/>
      </audienceUris>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="None" />
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/mycompanydemo.onmicrosoft.com/wsfed" 
                    realm="https://mycompanyvisitorsweb20170302015428.azurewebsites.net/" 
                    reply="https://mycompanyvisitorsweb20170302015428.azurewebsites.net/" 
                    requireHttps="true" xdt:Transform="SetAttributes(realm,reply)"/>
    </federationConfiguration>
  </system.identityModel.services>
-->
</configuration>