@model Microsoft.CodeChallenges.DocumentDB.Lab.Models.HomeViewModel
@{
    ViewBag.Title = "DocumentDB Lab";
}

<div class="jumbotron">
    <h1>Azure DocumentDB</h1>
</div>

<div class="row">
    <div class="demo-main">
        <div class="container content-container ">
            <div class="gap"></div>
            <div class="left-pane">
                <span class="query-title">Query</span>
            </div>
            <div class="right-pane">
                <span class="pane-title pane-title-active title-left pane1">Results</span>
                <div class="result-pager hidden">
                    <span class="left-arrow glyphicon glyphicon-menu-left"></span>
                    <span class="current-page"></span>
                    <span class="">/</span>
                    <span class="total-page"></span>
                    <span class="right-arrow glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ace-container left-pane">
                <div id="vsEditor"></div>
            </div>
            <div class="results-container right-pane">
                <div id="results-pane">
                    <span class="centerer"></span>
                    <img src="@Url.Content("~/Content/Images/animatedCircle.gif")" class="centered">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="left-pane">
                <div class="btn btn-run">Run it!</div>
                <div class="btn btn-reset" title="Reset to default query">
                    <span class="glyphicon glyphicon-repeat"></span>
                </div>
            </div>
            <div class="right-pane">
                <select class="form-control pull-right region-select" id="region-select">
                    @foreach (var region in Model.AvailableRegions)
                    {
                        <option>@region</option>
                    }
                </select>
                <label for="region-select" class="pull-right region-select-label">Query region: </label>
                <div class="clearfix"></div>
                <div id="region-query-repsonse-block" class="pull-right italic-p" style="display: none">response time: <span id="region-query-repsonse-time">0</span> ms</div>
            </div>
        </div>
    </div>
</div>