/*General fonts*/
/*General*/
/*Module*/
/*List*/
.modal-msgBox {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1050;
  width: 435px;
  background-color: #dfe0e0;
}
.modal-msgBox .modal-msgBox-header {
  padding: 10px 0 10px 40px;
}
.modal-msgBox .modal-msgBox-body {
  font-size: 1.14em;
  text-align: center;
  padding: 25px 20px 0 20px;
}
.modal-msgBox .modal-msgBox-body .msgBox-message {
  font-size: 1.14em;
  color: #191919;
}
.modal-msgBox .modal-msgBox-footer {
  text-align: center;
  padding: 30px 0 40px 0;
}
.modal-msgBox .modal-msgBox-footer .button-primary {
  text-transform: capitalize;
  margin-left: 5px;
}
.modal-msgBox .modal-msgBox-footer .button-primary-padding {
  padding-left: 35px;
  padding-right: 35px;
}
