<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CosmosDB:Endpoint" value="" />
    <add key="CosmosDB:Key" value="" />
    <add key="CosmosDB:DatabaseName" value="tweets" />
    <add key="CosmosDB:CollectionName" value="build" />

    <add key="Twitter:ConsumerKey" value="" />
    <add key="Twitter:ConsumerSecret" value="" />
    <add key="Twitter:AccessToken" value="" />
    <add key="Twitter:AccessTokenSecret" value="" />

    <add key="Twitter:Tags" value="#MSBuild,#CosmosDB,#Azure"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>